# Build & Dist
out/
dist/
*.vsix
*.tsbuildinfo

# Dependencies
node_modules/

# Tests & Coverage
.vscode-test/
coverage/
reports/
.stryker-tmp/
stryker-error.log

# Environment
.env*
!.env.example

# OS Generated
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*